
<div class="center jumbotron">
  <h1> Welcome <%= @user.first_name %> <%= @user.last_name %> !</h1>

  <% if(@user.admin) %>
      <h2>Click below to access your admin dashboard:</h2>
    <h2><%=link_to "Admin Dashboard", rails_admin_path %></h2>

<%end %>
</div>


<ul class="jumbotron">
  <li class="list-group-item">Your group is <%= @user.group_no %></li>
  <li class="list-group-item"> Your group name is <%=  %></li>
</ul>