
<div class="center jumbotron">
  <h1> Welcome <%= @user.first_name %> <%= @user.last_name %> !</h1>

  <% if(@user.admin) %>
      <h2>Click below to access your admin dashboard:</h2>
    <h2><%=link_to "Admin Dashboard", rails_admin_path %></h2>

<%end %>
</div>


<ul class="jumbotron">
  <% if(@user.group_no != nil) %>
  <li class="list-group-item">Your group is <%= @user.group_no %></li>
  <li class="list-group-item"> Your group name is <%= @group.group_name %></li>
<!--    <li> this is user <%#= @user.id %></li>-->
  <% end %>
</ul>

<div class="form">
  <div class="row">
    <% if @user.group_no != nil %>
      <% @teammates.each do |x| %>
        <div class="col-md-2">
          <label for="<%= x.first_name %>"><%= x.first_name %></label>
          <%# does not save atm and model rating not working atm %>
          <%= form_with(model: @rating, local: true) do |f| %>
            <%= f.label :score %>
            <%= f.number_field :score %>
            <%= f.submit "Finish", class: "btn btb-primary" %>
            <br>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>