
<div class="center jumbotron">
  <h1> Welcome <%= @user.first_name %> <%= @user.last_name %> !</h1>

  <% if(@user.admin) %>
      <h2>Click below to access your admin dashboard:</h2>
    <h2><%=link_to "Admin Dashboard", rails_admin_path %></h2>

<%end %>
</div>


<ul class="jumbotron" id="rating_field">
  <% if(@user.group_no != nil) %>
  <h2>Your group is <%= Group.find(@user.group_no).group_name%> (Group #<%= @user.group_no%>)</h2>
    <h3> Rate your group members below: </h3>
<!--    <li> this is user <%#= @user.id %></li>-->
  <% end %>


<% if @user.group_no != nil %>
  <% @teammates.each do |x| %>
      <h2><%= x.first_name %> <%= x.last_name %></h2>
      <%# does not save atm and model rating not working atm %>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @rating, url: {controller:'ratings', action:'create'}) do |r| %>

            <%#Score%>
            <%= r.label :score %>
            <%= r.range_field :score, in:1..10, :step=>'.1' %>
              <p>1 ---- 2   ----  3   ----  4    ----   5   ----    6   ----    7   ----    8    ----   9  ----   10</p>

            <%#Comment%>
            <%= r.label :comment %>
            <%= r.text_field :comment %>

            <%= r.hidden_field :group_no, value: @user.group_no %>
            <%= r.hidden_field :rater_ID, value: @user.id %>
            <%= r.hidden_field :ratee_ID, value: x.id %>

            <%= r.submit "Submit", class: "btn btb-primary 2"%>
        <% end %>

        </div>
      </div>
  <% end %>
<% end %>
</ul>